.header_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.bubbles_container {
  position: relative;
  margin-top: -200px;
}

.bubble {
  transform: translateY(200px);
}
